.Item, .Comment {
    min-height: 35px;
}

.Comment {
    margin-bottom: 10px;
}

.title {
    font-size: 13px;
}

.title a {
    color: #000;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.subtext, .subtext-comment {
    color: #828282;
    font-size: 9px;
}

div.subtext {
    margin-left: 12px;
}

div.subtext.jobs {
    margin: 0;
}

.number {
    color: #828282;
}

.grayarrow {
    vertical-align: baseline;
    cursor: pointer;
}