.Header {
    background-color: #FF5D00;
    color: #000;
    font-size: 13px;
    padding: 2px;
    margin-bottom: 14px;
    margin-top: 5px;
}

.Header .site-name {
    font-weight: 700;
    margin-right: 5px;
    margin-left: 4px;
    vertical-align: middle;
}

.Header .menu {
    vertical-align: middle;
}

.Header a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.login {
    float: right;
}

.logo {
    border: 1px solid #fff;
}